<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Workflow Editor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="main-layout">
        <aside class="sidebar">
            <div class="sidebar-top-row">
                <select id="workflowSelector" onchange="loadSelectedWorkflow()">
                    <option value="">-- select workflow --</option>
                </select>
                <button class="icon-btn" title="New Workflow" onclick="createNewWorkflow()">
                    <span aria-label="New Workflow" title="Novo workflow">➕</span>
                </button>
                <button id="showGlobalConfig" class="icon-btn" title="Show Global Config" onclick="showGlobalConfig()">
                    <span aria-label="Show Global Config" title="Configuração global">⚙️</span>
                </button>
            </div>
            <div class="env-row">
                <label>ambiente:</label>
                <select id="envSelector"></select>
            </div>
            <div id="globalConfigPanel" style="display:none;">
                <div class="form-section">
                    <label for="workflowName">Workflow Name</label>
                    <input id="workflowName" placeholder="Workflow Name" />
                </div>
                <div class="form-section">
                    <label for="globalInput">Global Input</label>
                    <textarea id="globalInput" oninput="autoResize(this)"
                        placeholder='{"userId": "123", "token": "abc"}'></textarea>
                </div>
                <div class="form-section inline">
                    <label for="useProxyCheckbox">
                        Use proxy
                    </label>
                    <input type="checkbox" id="useProxyCheckbox" />
                </div>
                <button class="btn" onclick="updateWorkflow()">Save Workflow</button>
                <hr>
            </div>
            <hr>
            <ul id="sidebarStepsList" class="steps-list"></ul>
            <button class="btn add-step-btn" onclick="openStepTab('__new__')">+ Add Step</button>
        </aside>
        <section class="center-panel">
            <div id="stepTabs"></div>
            <div id="stepTabContents"></div>
        </section>
    </div>
    <script src="/static/main.js"></script>
</body>

</html>